@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat&family=Cedarville+Cursive&family=Dancing+Script:wght@400;500&family=Handlee&family=Italianno&family=Julee&family=Kalam:wght@300&family=Marck+Script&family=Rancho&family=Satisfy&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #00091bef;
    font-family: consolas;
}

a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #026886;
    text-transform:uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.5s;
}
a:hover {
    color: #012742ea;
    background: #1da5f9;
    box-shadow: 0 0 10px #10a4fa, 0 0 40px #4251fe, 0 0 80px #37b4fc;
    transition-delay: 1s;
}
a span {
    position: absolute;
    display: block;
}
a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #108afc);
}
a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}
a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #13aff8);
}
a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #0a89f8);
}
a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #0b78fe);
}
a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
p{
    font-family: 'Rancho', cursive;
}